.container
  .sectioned
    %h2.logoed
      unplastered
    = link_to image_tag("flat/icons/wine.svg", :style => "width:200px", :class => "wineimage"), "drinks/new"
    %h3
      .label.label-info.bac
        = calculate_bac(current_user).round(3)

:javascript
  $(document).ready(function() {
    looper();
  });

  function looper() {
    setTimeout(function () {
        refresher();
        looper();
    }, 1000);
  }

  function refresher(){
    $.ajax({
        url: '/users/' + 1 + '/refresh',
        type:   'GET',
        dataType: 'json',
        success: function (data) {
          $(".bac").text(Math.round(data[0] * 1000) / 1000);
        },
        error: function (response) {
        }
      });
  }

  function imageBounce(){
    $('.wineimage').addClass('animated pulse');
  }

  $(document).ready(imageBounce);
