.container
  .sectioned
    %h2.logoed
      unplastered
    = link_to image_tag("flat/icons/wine.svg", :style => "width:200px", :class => "wineimage"), "drinks/new"
    %h3
      .label.label-info
        = calculate_bac(current_user).round(3)

:javascript
  function imageBounce(){
    $('.wineimage').addClass('animated pulse');
  }

  $(document).ready(imageBounce);
