html, body{
  background:url("cream_pixels.png");
}

.sectioned{
 margin:100px auto;
 text-align:center;
 max-width:600px;
}

.logoed{
margin:60px;
}

.form-push{
  margin-bottom:30px;
}

.wineimage{
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
}

.jumbotron{
  background:white;
  padding:40px;
}

.full-btn{
  width:100%;
}
